{% assign primarycolor=settings.primary_color %}
{% assign secondaryrycolor=settings.secondary_color %}
{% assign terciarycolor=settings.terciary_color %}

<div class="nav-bar" style="background: transparent">
        <div class="left-nav" >
            <svg style="color:{{terciarycolor}}" class="store-logo nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 29">
                <path fill="currentColor" fill-rule="evenodd" d="M81.72 25.36h2.79v.59h-1.06v2.49h-.66v-2.5h-1.07zm3.4 0h.75L87 27.58l1.13-2.22h.76v3.08h-.62v-2.1l-1.06 2.1h-.42l-1.07-2.1v2.1h-.6zM17.69 5.93h-4.94c-.08-2.16-.81-3.25-2.2-3.25-1.08 0-1.62 1.34-1.62 4v2.63h4.7v2.62h-4.7v16.52h-6.4V11.93H0V9.31h2.53V7.56c0-1.75.7-3.3 2.08-4.63A7.95 7.95 0 0 1 10.29.77c2.22 0 3.88.35 4.98 1.04 1.3.78 2.1 2.15 2.41 4.12m43.7 22.52H55V6.57c0-1.28-.18-2.13-.53-2.56-.37-.43-1.05-.65-2.08-.65h-.12c-.4 0-.67-.34-.67-.79 0-.47.25-.65.75-.75L61.39.21v28.23zm18.67-6.18c0 2.23-.94 3.89-2.82 5-1.6.97-3.8 1.46-6.56 1.46a37 37 0 0 1-6.85-.8v-3.07c2.96.66 5.3 1 7.02 1 2.35 0 3.53-.44 3.53-1.3 0-.5-.93-1.22-2.79-2.16a47.92 47.92 0 0 1-5.06-2.83c-1.86-1.3-2.78-2.64-2.78-4a5.5 5.5 0 0 1 2.07-4.54c1.52-1.22 3.75-1.83 6.68-1.83 1.58 0 3.63.25 6.15.75v3a25.32 25.32 0 0 0-6.52-1.09 4 4 0 0 0-1.85.42c-.53.28-.8.58-.8.92 0 .39.91 1.07 2.73 2.04a47.88 47.88 0 0 1 5.07 3.04c1.85 1.36 2.78 2.69 2.78 4m-52.7-6.84c-.3-3.11-1.39-4.66-3.26-4.66-2.06 0-3.19 2.03-3.38 6.09l6.65-1.43zm4.56 1.25l-11.2 2.4a7.7 7.7 0 0 0 1.42 4.36c1 1.37 2.3 2.06 3.89 2.06 1.75 0 3.48-.91 5.18-2.73l.04 3.6c-1.72 1.63-4.1 2.44-7.15 2.44-2.95 0-5.3-.84-7.07-2.52-1.84-1.7-2.76-4.12-2.76-7.25 0-3.28.92-5.8 2.76-7.6 1.76-1.76 4.12-2.64 7.07-2.64 2.23 0 4.07.8 5.52 2.39a9.21 9.21 0 0 1 2.3 5.5zm13.3 4.75c0 1.3-1.24 3.91-4.06 3.91-2.82 0-3.36-2.06-3.36-3.1 0-1.06.54-2.59 3.49-3.32 2.95-.74 3.93-.89 3.93-.89v3.4zm6.5-4.48c-.04-5.25-2.84-8.17-9.02-8.17-5.52 0-7.66 2.42-7.66 2.42v3.56s3.1-3.32 6.55-3.32c3.43 0 3.63 2 3.63 3.76a62.12 62.12 0 0 0-4.78 1.22c-1.23.37-2.45.79-3.6 1.36-.87.45-1.72 1-2.37 1.75a4.64 4.64 0 0 0-1.09 2.37 7.1 7.1 0 0 0 .1 2.36c1 5.25 10.06 5.29 11.83 2.35v1.82h6.4V16.96z"></path>
            </svg>
            <ul class="menu-items" id="left-menu-items">
                {% for block in section.blocks %}
                    {% if block.settings.position_on_nav == 'left' and block.settings.menu_item !='' %}
                        <li style="color:{{terciarycolor}}">{{block.settings.menu_item}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="right-nav">
        <ul class="menu-items" id="right-menu-items">
            {% for block in section.blocks %}
            {% if block.settings.position_on_nav == 'right' and  block.settings.menu_item !=''%}
                <li style="color:{{terciarycolor}}">{{block.settings.menu_item}}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <svg style="color:{{terciarycolor}}" class="cart-icon nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 25"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="2"><path d="M1 23.84h16.85V9H1z"></path><path d="M13.81 9.31c0-4.59-2.2-8.31-4.9-8.31C6.2 1 4 4.72 4 9.31M13 9v14.84"></path></g></svg>
        </div> 
</div>
<div class="separator">

</div>

{% schema %}
{
    "name": "Menu Items",
    "blocks": [
    {
        "name": "Header Links",
        "type": "text",
        "settings": [{
            "label": "Left Header Link",
            "type": "text",
            "id": "menu_item"
        },
        {
            "type": "select",
            "id": "position_on_nav",
            "options": [
               { "value": "left", "label": "Left"},
               { "value": "right", "label": "Right"}
            ],
            "label": "Side on the Nav Bar" 

        }]
    }]
 }
{% endschema %}

{% stylesheet %}
 .nav-icon{
    width: 90px;
    height: 29px;
    display: block;
    background: none;
    position: relative;
 }

 .store-logo{
     top: 7px;
 }

 .cart-icon{
     top: 2px;
 }

 .left-nav{
     display: inline-flex;
     justify-content: end;
     text-align: left;
 }

 .right-nav{
    display: inline-flex;
    justify-content: end;
    text-align: right;
}

 .nav-bar {
     position: fixed;
     top: 40px;
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 0px;
     overflow-y: hidden;
     padding: 0px 25px;
     margin: 0px;
     left: 0px;
     transition: background .3s ease-in-out, box-shadow .3s ease-in-out

 }

 .menu-items{
    display: inline-flex;
    justify-content: space-between;
 }


 li{
    list-style-type: none;
    display: inline;
    padding: 0px 20px;
    font-family: L Brown Regular Web,Brown,Helvetica,Arial,sans-serif;
    font-size: 17px;
 }


 .scrolled {
     background: white !important;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03) !important;
     transition: background .3s ease-in-out, box-shadow .3s ease-in-out !important;
 }

 .separator {
     height: 200px;
 }

{% endstylesheet %}

{% javascript %}
$(window).scroll(function (event) {
    var scrollPosition = $(window).scrollTop();
    const navBar = $('.nav-bar')
    if(scrollPosition > 0) {
        navBar.addClass('scrolled')
    } else {
        navBar.removeClass('scrolled')
    }
});

{% endjavascript %}